<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>
  <rhino.esb>
    <bus threadCount="1"
         numberOfRetries="5"
         endpoint="msmq://localhost/test_queue"
         queueIsolationLevel="ReadCommitted" />
    <messages>
      <add name="Rhino.ServiceBus.Tests"
           endpoint="msmq://localhost/test_queue"/>
      <add name="Rhino.ServiceBus.Tests"
           endpoint="msmq://localhost/test_queue2"/>
    </messages>
  </rhino.esb>
</configuration>